@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
.vazio{
    display: none;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}
/* navbar */
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6vw;
    background-color: black;
}
nav a {
    cursor: pointer;
}
.logo img{
    width:70px;
    height: 95px;
    margin-left: 10px;
}

.button{
    display: flex;
    height: 100%;
    width: 65%;
    align-items: center;
    justify-content: space-around;
    
}

.button a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

#buttonatual{
    color: #D4AF37;
    text-decoration: underline;
    font-weight: 700;
}

.entrar{
    display: flex;
    height: 100%;
    width: 28%;
    align-items: center;
    justify-content: flex-end;
}
.login{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-right: 40px;
}

.entrar span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D4AF37;
    width: 100px;
    height: 35px;
    border-radius: 2%;
    
}
.entrar span a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.logado{
    display: flex;
    height: 100%;
    width: 29%;
    align-items: center;
    justify-content: flex-end;
}
.logado img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

/* main */
.main{
    display: flex;
    flex-direction: row;
    height: 94vw;
    width: 100%;
    background-image : url(../image/background/fundocamisas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}


/* top 10 melhores */
.lista{
    display: flex;
    height: 600px;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    margin-right: 20px;
    overflow-X: auto;
    scrollbar-color: white rgba(0, 0, 0, 0.8);
}


.titulo{
    display: flex;
    background-color: #D4AF37;
    width: 90%;
    height: 7%;
    border-radius: 4%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.titulo h1{
    font-size: 15px;
}

#top_lista{
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}


.topcamisa{
    display: flex;
    height: 20%;
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 0;
    margin-top: 10px;
}

.topcamisa h2{
    color: white;
    font-size: 15px;
}
.topcamisa img{
    width: 90px;
    height: 90px;
}


/* camisas */
.cardpai{
    display: flex;
    height: 600px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    overflow-y: auto;
    overflow-x: none;
    scrollbar-color: white rgba(0, 0, 0, 0.8);
}


/* pesquisa */
.pesquisa{
    display: flex;
    height: 10%;
    width: 90%;
    background-color: #D4AF37;
    border-radius: 10px;
    flex-direction: row;
    margin-top: 10px;
    flex-shrink: 0;
    justify-content: space-between;
}

.coluna1{
    display: flex;
    height: 100%;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
}

.input{
    display: flex;
    width: 35%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
    align-items: center;
    justify-content: space-around;
    margin-left:10px ;
}

.input input{
    border-radius: 10px;
    width: 60%;
    height: 100%;
    border: 0;
    outline: none;
    
}
.input input::placeholder{
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.input img{
    width: 30px;
    height: 30px;
}

.coluna2{
    display: flex;
    height: 100%;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}

.coluna2 button{
    display: flex;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    border: 0;
    outline: none;
    border: black 1px solid;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
}

.coluna2 button img{
    width: 20px;
    height: 20px;
}

.coluna3{
    display: flex;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.coluna3 img{
    width: 40px;
    height: 40px;
}

.coluna3 img:hover{
    background-color: #d4af37;
}

.coluna3 button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.linha{
    align-self: center;
    display: flex;
    width: 0.2%;
    height: 90%;
    background-color: black;
}

/* camisas */
.camisas{
    display: flex;
    width: 90%;
    height: 60%;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: white;
    height: 45%;
    width: 13%;
    border-radius: 5px;
    flex-shrink: 0;
    align-items: center;
}

.card img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90px;
    height: 90px;
    cursor: pointer;
}
.card p{
    
    font-size: 10px;
}
.cabecario_camisa{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-around;
}

.cabecario_camisa h2{
    font-size: 10px;
    text-align: center;
    margin: 5px;
}


.cabecario_camisa img{
    width: 20px;
    height: 20px;
    margin-top: 5px ;
    
}

/* Adicionar camisas */

.adicionar_camisas{
    display: flex;
    position: absolute;
    height: 80vh;
    width: 30vw;
    border: black solid 5px;
    background-color: aliceblue;
    top: 12%;
    left: 35%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;

}

.adicionar_camisas h2{
    margin-top: 10px;
}
.input_camisa{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 13%;
    justify-content: space-between;
    margin-top: 10px;
}

.input_camisa input{
    width: 50%;
    height: 40%;
    border-radius: 5px;
    outline: none;
    border: 2px solid black;
}

.input_camisa h3{
    margin-left: 10px;
}

.input_camisa input::placeholder{
    color: rgba(0, 0, 0, 0.84);
    margin-left: 20px;
}

.input_camisa select{
    width: 50%;
    height: 40%;
    border-radius: 5px;
    border: 2px solid black;
}

input::file-selector-button {
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

.input_camisa h3{
    font-size: 19px;
}

.buttons{
    display: flex;
    width: 100%;
    height: 13%;
    flex-direction: row;
    align-items: start;
}

#solicitar{
    width: 28%;
    height: 53%;
    background-color: #D4AF37;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 25%;
    cursor: pointer;
}

.buttons img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    align-self: center;
    cursor: pointer;
    margin-bottom: 25px;
}

.mensagem{
    position: absolute;
    background-color: #d9d9d9;
    width: 200px;
    height: 100px;
    top: 2%;
    right: 1%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mensagem img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.mensagem p{
    font-size: 15px;
    font-weight: 400    ;
}