@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}
.vazio{
    display: none;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
}

nav{
    display: flex;
    height: 100%;
    width: 15%;
    background-color: black;
    
}
nav img{
    width: 40px;
    height: 40px;
}
.menu{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-decoration: none;
}

.secao{
    display: flex;
    width: 80%;
    height: 17%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.secao h2{
    font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
}

.atual{
    background-color: #262323;
    border-radius: 10px;
}

.secao a{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
/* main */
.conta{
    display: flex;
    height: 100%;
    width: 85%;
    background-color: #333333;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    background-color: #D9D9D9;
    width: 50%;
    height: 80%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 390px;
    height:390px;
    margin: 30px;
}

.card h1{
    font-weight: 500;
}

.acoes{
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
}

.email{
    display: flex;
    width: 80%;
    height: 30%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
}
.email p{
    font-size: 20px;
}
.email img{
    width: 50px;
    height: 50px;
}

